.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li.editing {
  border-bottom: none;
  padding: 0;
}

.todo-list li.editing .edit {
  display: block;
  width: calc(100% - 43px);
  padding: 12px 16px;
  margin: 0 0 0 43px;
}

.todo-list li.editing .view {
  display: none;
}

.todo-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.todo-list li .toggle {
  opacity: 0;
}

.todo-list li .toggle + label {
  /*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-list li .toggle:checked + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.todo-list li label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 85px 15px 60px;
}

.todo-list li label .created {
  font-size: 13px;
  color: gray;
}

.todo-list li label .description {
  word-break: break-all;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: #4d4d4d;
}

.todo-list li.completed label .description {
  color: #cdcdcd;
  text-decoration: line-through;
}

.todo-list li .icon {
  position: absolute;
  top: 26px;
  bottom: -3px;
  width: 30px;
  height: 40px;
  font-size: 34px;
  color: #cc9a9a;
  margin: auto 0 11px;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.todo-list li .icon:hover {
  color: #af5b5e;
}

.todo-list li .icon-destroy {
  right: 10px;
}

.todo-list li .icon-destroy:after {
  content: '×';
}

.todo-list li .icon-edit {
  font-size: 19px;
  right: 45px;
}

.todo-list li .icon-edit:after {
  content: '✎';
}

.todo-list li .edit {
  display: none;
}

.todo-list li.editing:last-child {
  margin-bottom: -1px;
}

.todo-list li label .description {
	font-size: 13px;
	color: gray;
}

.todo-list li label .title {
	font-size: 24px;
}

.todo-list li .icon-pause,
.todo-list li .icon-play {
	font-size: 18px;
	width: 18px;
	height: 18px;
}

.todo-list li .icon-play {
	font-size: 15px;
  position: absolute;
  left: 38px;
}

.todo-list li .icon-pause {
	font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 55px;
}

.control-timer {
  position: relative;
}

.icon-pause:after {
	content: 'II';
}

.icon-play:after {
	content: '▶';
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .todo-list li .toggle {
    background: none;
  }

  .todo-list li .toggle {
    height: 40px;
  }
}
